.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
  margin-top: 0px;
}
.titulo{
  margin-top: 0px;
  margin-bottom: 0px;
}
.game{
  font-size: 15px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avion-img{
  margin: auto;
  max-width: 70%;
  min-width: 30%;
  border: 2px solid;
  border-radius: 20px;
  border-color: azure;
}
.teclas{
  width: 90%;
  text-align: center;
  align-items: center;

  
  
  
} 

.btn{ 
  text-transform: capitalize;
  font-size: 15px;
  padding: 6px 10px;
  margin: 5px 5px;
  
  justify-content: center;
  align-items: center;
  

  
}

.vidas{
  margin-top: 0px;
  font-size: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  
  
}

.btn1{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:10px 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  font-size: 1.2em;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:700;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}

.btn2{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  
  text-decoration:none;
  text-transform:uppercase;
  font-weight:700;
  color:#FFFFFF;
  background-color: green;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}

.inicio-game{
  
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}