.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.avion-img{
  max-width: 450px;
  border: 2px solid;
  border-radius: 20px;
  border-color: azure;
}
.teclas{
  display: grid;
  grid-template: auto auto / repeat(13,1fr);
  gap:10px;
  text-align: center;
  
  
}

.btn{ 
  text-transform: capitalize;
}

.vidas{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  
  
}

.btn1{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  font-size: 1.2em;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:700;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}

.btn2{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  
  text-decoration:none;
  text-transform:uppercase;
  font-weight:700;
  color:#FFFFFF;
  background-color:brown;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}